<div class="paginator">
    {%- if paginator.has_previous %}
    <a href="{{ url_for(**paginator.first) }}">&laquo; 首页</a>
    <a href="{{ url_for(**paginator.previous) }}">&lsaquo; 前页</a>
    {%- else %}
    &laquo; 首页
    <span class="inactive"> &lsaquo; 前页</span>
    {% endif %}
    | {{ paginator.page }} /
    {% if paginator.has_next %}
    <a href="{{ url_for(**paginator.last) }}">{{ paginator.pages }}</a> |
    {% else %}
    {{ paginator.pages }} |
    {% endif %}
    {% if paginator.has_next %}
    <a href="{{ url_for(**paginator.next) }}">后页&rsaquo;</a>
    <a href="{{ url_for(**paginator.last) }}">末页&raquo;</a>
    {%- else %}
    <span class="inactive">后页&rsaquo;</span>
    <span class="inactive">末页&raquo;</span>
    {% endif %}
</div>
