{% extends "v2/layout.html" %}
{% block title %}{{ config.TITLE }} - {{ filename }}{% endblock %}
{% block extrahead %}
<script src="{{ url_for('admin.static_files', filename='jquery.js') }}"></script>
<script src="{{ url_for('admin.static_files', filename='jquery.blockUI.js') }}"></script>
<script src="{{ url_for('admin.static_files', filename='showoffadmin.js') }}"></script>
{%endblock%}

{% block body %}
<h1><a href="{{ url_for('admin.show_album', album=album) }}">{{ album }}</a></h1>
<h2>{{ filename }}</h2>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<p>以下列尺寸下载图片：
{% for size in config.ALLOWED_SIZES %}
{% if size != 'full' %}
<a href="{{ url_for('admin.show_image', album=album, size=size, filename=filename) }}">{{ size }}</a>
{% else %}
<a href="{{ url_for('admin.show_image_full', album=album, filename=filename) }}">{{ size }}</a>
{% endif %}
{% if not loop.last %}
|
{% endif %}
{% endfor %}
<br />操作：
{% if filename in show.data['files'] %}
<a href="{{ url_for('admin.remove_image_from_show', album=album, filename=filename) }}">取消展示</a>
{% else %}
<a href="{{ url_for('admin.add_image_to_show', album=album, filename=filename) }}">添加展示</a>
{% endif %}
顺时针旋转：
<a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=1) }}");return false;'>¼</a> &raquo;
<a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=2) }}");return false;'>½</a> &raquo;
<a href="#" onclick='rotate("{{ url_for('admin.image_rotate', album=album, filename=filename, steps=3) }}");return false;'>¾</a>
</p>

<img src="{{ url_for('admin.show_image', album=album, filename=filename, size=config.IMAGE_SIZE) }}" alt="{{ filename }}" />

<h3>Exif information</h3>
<table>
{% for key in exif.keys() %}
<tr><td>{{ key }}</td><td> {{ exif[key] }}</td></tr>
{% endfor %}
</table>

<script type="text/javascript">
rotate = function(url) {
    $.blockUI({ message: '<h1>正在努力旋转图片...</h1>'});
    $.ajax({
        url: url,
        context: document.body,
        success: function() {
            window.location.reload();
        }
        });
}
</script>

{% endblock %}
